* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

nav {
  height: 8vh;
  background-color: #1C1C1C;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-nav {
  flex: 0 0 600px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav	a {
  text-decoration: none;
  color: #FFFFFF;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .line {
    background-color: #FFFFFF;
    width: 30px;
    height: 3px;
    margin: 5px;
  }

  nav {
    position: relative;
    display: block;
  }

  .nav-links {
    position: fixed;
    background: #1C1C1C;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    clip-path: circle(100px at 10% -10%);
    -webkit-clip-path: circle(100px at 10% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(5){
    transition: all 0.5s ease 1s;
  }

  .nav-links li.fade {
    opacity: 1;
  }

  .nav-links.open {
    clip-path: circle(1300px at 10% -10%);
    -webkit-clip-path: circle(1300px at 10% -10%);
    pointer-events: all;
  }

}