* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: #1C1C1C;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  z-index: 1;
}

.flex-nav {
  flex: 0 0 600px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links li a {
  display: inline-block;
  padding: 16px;
  font-weight: 200;
  font-size: 14px;
  margin: auto;
}


.nav-links li:hover {
  background-color: #9F9F9F;
}

.nav-links li:hover ~ a {
  color: #000000;
}

nav	a {
  text-decoration: none;
  color: #FFFFFF;
}

.hamburger {
  display: none;
}

/* landing page */

.landing {
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
  background-color: #000000;
}

.landing-text {
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  left: 80px;
  color: #9F9F9F;
}

.landing .landing-text .landing-text1 {
  font-size: 80px;
  position: relative;
  top: 100px;
  animation: fade-in ease 2s;
}

.landing .landing-text .landing-text2 {
  font-size: 160px;
  animation: fade-in ease 5s;
}

.landing-img {
  background: url(../img/Unsplash/header_new.jpg) no-repeat bottom center;
  background-color: #000000;
  background-size: 100%;
  flex-basis: 0;
  flex-grow: 1;
  height: 100vh;
}

.landing-img > div {
  position: relative;
  top: 50%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)) no-repeat bottom;
  height: 50vh;
}
 
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* dot effect */

.landing .landing-text .loadingContainer {
  position: relative;
  top: -113px;
  left: 300px;
  width: 100px;
  animation: fade-in ease 5s;
}

.loadingContainer div {
  height:20px;
  width:20px;
  border-radius:50%;
  background: #9F9F9F;
  float:left;
  margin:0 5px;
}
.loadingContainer .ball1 {
  animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce 2s infinite ease-in-out;
  -webkit-animation: bounce 2s infinite ease-in-out;
}
.loadingContainer .ball2 {
  animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce 2s infinite ease-in-out;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loadingContainer .ball3 {
  animation: bounce 2s infinite ease-in-out;
  -moz-animation: bounce 2s infinite ease-in-out;
  -webkit-animation: bounce 2s infinite ease-in-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes bounce {
  0%,20% {-webkit-transform: translate(0,0);}
  50% {-webkit-transform: translate(0,-30px);background:#9F9F9F;}
  80%, 100% {-webkit-transform: translate(0,0);};
}
@-moz-keyframes bounce {
  0%,15% {-moz-transform: translate(0,0);}
  50% {-moz-transform: translate(0,-30px);background:#9F9F9F;}
  85%, 100% {-moz-transform: translate(0,0);};
}
@-webkit-keyframes bounce {
  0%,20% {-webkit-transform: translate(0,0);}
  50% {-webkit-transform: translate(0,-30px);background:#9F9F9F;}
  80%, 100% {-webkit-transform: translate(0,0);};
}

/* About page section */

.about {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  flex-direction: row-reverse;
  flex: 1 1 0px;
}

.about-img {
  flex: 1;
  background-color: #000000;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0,1)),
  url(../img/Unsplash/about.jpg) no-repeat bottom center;
  background-size: auto 100%;
  height: 100vh;
  width: 100%;
  order: 1;
}

.gradient-bottom {
  position: relative;
  top: 50%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)) no-repeat bottom;
  height: 50vh;
}

.gradient-top {
  position: relative;
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)) no-repeat top;
  top: 0;
  left: 0;
  height: 10%;
}

.about-text {
  flex: 1;
  color: #FFFFFF;
  background-color: #000000;
}

.about-text > div {
  margin: 0 20%;
}

.bar {
  background-color: #1C1C1C;
  width: 100px;
  height: 5px;
}

.about-text > div > h1 {
  font-size: 50px;
}

.about-text > div > p {
  font-size: 1.2rem;
  color: #9F9F9F;
}

/* Portfolio Slider */

.products {
  background-color: #000000;
  color: #FFFFFF;
  position: relative;
  width: 100%;
  text-align: center;
}

.products-text {
  display: inline-block;
  margin: 0 auto;
  padding: 5%;
}

.products-text > h1 {
  font-size: 50px;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(28, 28, 28, 0.5);
  color: #FFFFFF;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 60%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 60%;
  left: 15px;
}

.buttons button {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #FFFFFF;
  color: #1C1C1C;
}

/* product images slides */

.slide:nth-child(1) {
  background: url(../img/laptop_stand_2.jpg) no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url(../img/laptop_stand_1.jpg) no-repeat center center/cover;
}

.slide:nth-child(3) {
  background: url(../img/personal/helicopter.jpeg) no-repeat center center/cover;
}

/* make-space */

.make-space {
  background-color: #000000;
  padding: 5%;
  width: 100%;
}

/* Contact Us Page */

.contact {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
}

.contact-left-img {
  flex: 1;
  background: url(../img/Unsplash/contact_left.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

.right-gradient {
  position: relative;
  left: 0;
  top: -10%;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1)) no-repeat left;
  height: 100vh;
}

.contact-right-img {
  flex: 1;
  background: url(../img/Unsplash/contact_right.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

.left-gradient {
  position: relative;
  top: -10%;
  right: 0;
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)) no-repeat right;
  height: 100vh;
}

.gradient-bottom1 {
  position: relative;
  top: -60%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)) no-repeat bottom;
  height: 50vh;
}

.contact-middle-text {
  flex: 1;
  margin: auto 0;
  padding: 0 5%;
}

.contact-middle-text .contact-text > h1 {
  font-size: 50px;
}

.contact-middle-text > p {
  color:#9F9F9F;
  font-size: 1.2rem;
}


/* Quotation Section */

.quotation {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #FFFFFF;
}

.quotation-text {
  display: inline-block;
  margin: 0 auto;
  padding: 5%;
}

.quotation-text > h1 {
  font-size: 50px;
}

.quotation-form {
  margin: 0 auto;
  width: 100%;
  max-width: 425px;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 1.2rem;
}

.form-input {
  width: 100%;
  max-width: 425px;
  padding: 15px;
  font-size: 1.2rem;

  outline: none;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  background: #1C1C1C;
  transition: all 0.5s;
}

.form-input:focus {
  background-color: #FFFFFF;
  border: none  ;
  color: #000000;
}

.form-items > label {
  padding: 5px;
  color: #9F9F9F;
}

.form-input-error {
  background-color: #d50000;
  color: #FFFFFF;
}

.form-input-error::placeholder {
  color: #FFFFFF;
}

.form-upload {
  color: transparent;
}

input {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  min-height: 200px;
}

textarea::placeholder {
  font-size: 1.2rem;
}

.form-upload::-webkit-file-upload-button {
  visibility: hidden;
  -webkit-appearance: none;
}

.form-upload::before {
  display: inline-block;
  content: 'Upload .stl file';
  outline: none;
  border: none;
  border-radius: 10px;
  color: #9F9F9F;
  padding: 15px;
  font-size: 1.2rem;
  background: #1C1C1C;
  transition: all 0.5s;
}

.form-error {
  padding: 5px;
  color: #d50000;
  font-size: 1.2rem;
  visibility: hidden;
}

.form-input-error + .form-error {
  visibility: visible;
}

.submit-button {
  padding: 15px;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  color: #9F9F9F;
  background: #1C1C1C;
  transition: all 0.5s;
}

.submit-button:hover {
  background-color: #09D100;
  color: #FFFFFF;
}

/* copyright */

.copyright {
  background-color: #1C1C1C;
  display: flex;
}

.negative-space {
  flex: 1;
}

.copyright-text {
  flex: 1;
  color: #9F9F9F;
  text-align: center;
  font-size: 0.8rem;
}

.credits {
  flex: 1;
  color: #9F9F9F;
  text-align: right;
  font-size: 0.8rem;
}





@media screen and (max-width: 768px) {

  body {
    font-size: 1.3rem;
  }
  

  /* navbar */

  .hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .line {
    background-color: #FFFFFF;
    width: 25px;
    height: 2px;
    margin: 5px;
  }

  .nav-links {
    position: fixed;
    background: #1C1C1C;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    clip-path: circle(100px at 10% -10%);
    -webkit-clip-path: circle(100px at 10% -10%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 1.3rem;
  }

  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.1s;
  }

  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.3s;
  }

  .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(5){
    transition: all 0.5s ease 0.5s;
  }

  .nav-links li.fade {
    opacity: 1;
  }

  .nav-links.open {
    clip-path: circle(1300px at 10% -10%);
    -webkit-clip-path: circle(1300px at 10% -10%);
    pointer-events: all;
  }

  /* landing page */

  .landing {
    flex-direction: column;
    height: 100vh;
  }

  .landing-text {
    left: -10px;
  }

  .landing-img {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
  }

  .landing .landing-text .landing-text1 {
    font-size: 50px;
    left: 0px;
  }

  .landing .landing-text .landing-text2 {
    font-size: 100px;
    position: relative;
    top: 30px;
    left: 0px;
  }

  /* dot effect */

  .landing .landing-text .loadingContainer {
    position: relative;
    top: -50px;
    left: 200px;
    width: 100px;
    animation: fade-in ease 5s;
  }

  /* carousel */

  .carousel {
    height: 65vh;
  }

  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }


  /* about section */

  .about {
    flex-direction: column;
  }

  .about-text {
    margin: 50px 0;
  }

  /* products */

  .products-text {
    margin: 50px 0;
  }

  /* product images slides */

  .slide:nth-child(1) {
    background: url(../img/laptop_stand_2_mobile.jpg) no-repeat center center/cover;
  }

  .slide:nth-child(2) {
    background: url(../img/laptop_stand_1_mobile.jpg) no-repeat center center/cover;
  }

  .slide:nth-child(3) {
    background: url(../img/personal/helicopter.jpeg) no-repeat center center/cover;
  }


  /* contact us */

  /* get quotation */

  .form-items {
    margin: 0 5%;
    width: 90%;
  }

  /* copyright */

  .copyright {
    flex-direction: column;
  }

  .copyright-text {
    flex: 1;
  }

  .credits {
    flex: 1;
    text-align: center;
  }
  
}